* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: white;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto 50px;
    grid-template-columns: auto 90% auto;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer";
}

header {
    height: 75px;
    /*background: lightsteelblue;*/
    /*background-color: midnightblue;*/
    background: linear-gradient(90deg, rgba(25,25,112,1) 0%, rgba(144,185,169,1) 100%);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cell-left {
    height: 100%;
    padding: 0 0 0 5px;
    color:rgb(144, 185, 169);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header-cell-right {
    height: 100%;
    padding: 0 5px 0 0;
    color: midnightblue;
    display: flex;
    align-items: center;
}

.header-cell-right a {
    color:ghostwhite;
}

main {
    grid-area: main;
    
}

footer {    
    width: 100%;
    height: 50px;
    /*background: lightsteelblue;*/
    /*background: rgb(144, 185, 169);*/
    background: linear-gradient(90deg, rgba(25,25,112,1) 0%, rgba(144,185,169,1) 100%);
    grid-area: footer;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    height: 2em;
    margin: 5px;
}

input {
    width: calc(100% - 20px);
    height: 2em;
    margin: 5px;
    padding: 5px;
    border: 2px solid gainsboro;
    border-radius: 3px;
}

button {
    margin: 5px;
    padding: 5px;
    border: 1px solid ghostwhite;
    border-radius: 3px;
    background: ghostwhite;
    color: midnightblue;
    font-weight: bold;
}

.button-red {
    background: #ffe6e6;
    border: 2px solid #e60000;
    color: #e60000;
}

#loginFormContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#itemEditFormContainer {
    overflow-x: hidden;
    overflow-y: auto;
}

.errorBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #e60000;
    margin: 5px;
}

#errorBox div {
    flex: 1;
    background: #ffe6e6;
    border-top: 1px solid #e60000;
    padding: 5px;
}

#itemEditLogoImage {
    margin: 5px;
    max-width: 300px;
}

.table {
    flex-basis: 100%;
    background: white;
    margin: 5px;
   /* border: 1px solid midnightblue;*/
    /*color: midnightblue;*/
}

.tablehead{
    width: 100%;
    }

.tablebody{
    width: 100%;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    background: white;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.item-fluid {
    width: 100%;
    background: white;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.item-100 {
    flex-basis: 100%;
}

.item-100-center {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: lightsteelblue;*/
    background-color: rgb(144, 185, 169);
    color: midnightblue;
    padding: 20px;
}

.item-logo {
    height: 19px;
}

.item-50-bold {
    flex-basis: calc(50% - 5px);
    height: 40px;
    text-align: left;
    padding-left: 10px; 
    font-weight: bold;
    border-bottom: 1px solid midnightblue;
    display: flex;
    align-items: center;
}

.item-50 {
    flex-basis: calc(50% - 5px);
    height: 25px;
    text-align: left;
    padding-left: 10px;   
 
}


@media (max-width: 820px) {
    #wrapper {
        grid-template-columns: 10px auto 10px;
    }

    .item {
        flex-basis: 100%;
    }
}